{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(lib/(.*)$)|^(lib$)",
    "^(controller/(.*)$)|^(controller$)",
    "^(routers/(.*)$)|^(routers$)",
    "^(middlewares/(.*)$)|^(middlewares$)",
    "^(utils/(.*)$)|^(utils$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
